body {
  background-color: #202124;
  font-size: 13px;
  font-family: arial, sans-serif;
  color: white;
}

nav div {
  padding: 6px;
}
.nav-img:hover {
  background-color: #2e2d2d;
  border-radius: 50%;
  cursor: pointer;
}
.profile-img {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  cursor: pointer;
}
.nav-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-section {
  border: 1px solid gray;
  border-radius: 25px;
  width: 570px;
  padding: 6px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.search-section:hover {
  border-color: #2e2d2d;
  background-color: rgb(49, 49, 49);
}
.mic:hover {
  cursor: pointer;
}

.btn-1 {
  background-color: #303134;
  padding: 10px 17px 10px 17px;
  font-size: 14px;
  margin-right: 12px;
  border-radius: 5px;
}
.btn-2 {
  background-color: #303134;
  padding: 10px 17px 10px 17px;
  font-size: 14px;
  border-radius: 5px;
}

.btn-1:hover {
  border: 1px solid gray;
  cursor: pointer;
}

.btn-2:hover {
  border: 1px solid gray;
  cursor: pointer;
}

.link {
  margin-left: 6.5px;
  color: rgb(134, 173, 255);
}
.link:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer-part1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: #161616;
  margin-left: -7px;
  margin-bottom: 47px;
}
.footer-part2 {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 47.5px;
  background: #161616;
  margin-left: -7px;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  border-top: 1px solid #3c4043;
}
.turkiye-section {
  color: #9aa0a6;
  font-size: 15px;
  padding: 15px;
  padding-left: 29px;
}
.footer-links {
  display: flex;
  color: #9aa0a6;
  font-size: 14px;
  padding-left: 34px;
}
.ads {
  margin-left: 30px;
}
.isletme {
  margin-left: 30px;
}
.arama-nasil {
  margin-left: 30px;
}
.gizli {
  margin-left: 957px;
}
.sartlar {
  margin-left: 30px;
}
.ayar {
  margin-left: 30px;
}
